<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<pages controlRenderingCompatibilityVersion="4.0"/>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-CN" responseHeaderEncoding="utf-8" fileEncoding="utf-8" />

		<compilation debug="true">
			<assemblies>
				<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Extensions.Design, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>
	</system.web>
</configuration>